:root{
    --color-main: rgb(2, 80, 2);
    --color-white: white;
    --color-white-secondary: white;
    --color-tertiary: hsl(0, 0%, 57%);
    --color-black: rgb(49, 49, 49);
    --color-maroon: rgb(136, 0, 0);
    --color-secondary-main: rgb(244, 255, 246);
    --color-background: rgb(235, 235, 235);
    --color-solid-gray: rgb(126, 126, 126);
    --color-td:rgb(100, 100, 100);
    --color-button: rgb(117, 117, 117);
    --color-table-shadow: rgb(244, 255, 246);
    --color-shadow-shadow: rgb(116, 116, 116);
    --color-table-hover: rgb(244, 255, 246);
    --color-aside-mobile-focus: rgb(78, 150, 78);
    --color-aside-mobile-text: hsl(0, 0%, 57%);
    
}
.dark-theme{
    --color-white: rgb(48, 48, 48);
    --color-tertiary: hsl(0, 0%, 25%);
    --color-black: white;
    --color-shadow-shadow: rgb(32, 32, 32);
    --color-aside-mobile-focus: rgb(244, 255, 246);
    --color-table-shadow: rgb(131, 131, 131);
    --color-maroon: rgb(255, 130, 130);
    --color-white-secondary: rgb(235, 235, 235);
    --color-main: rgb(244, 255, 246);
    --color-secondary-main: rgb(97, 172, 111);
    --color-background: rgb(80, 80, 80);
    --color-solid-gray: rgb(231, 231, 231);
    --color-td: rgb(231, 231, 231);
    --color-button: rgb(202, 202, 202);
    --color-table-hover: rgb(112, 112, 112);
    --color-aside-mobile-text:hsl(0, 0%, 88%);
}
BODY{
    background: var(--color-background);
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}  
.viewTransaction{
font-family: 'century-gothic', sans-serif;
font-size: .7rem;
color: var(--color-main);
text-transform: uppercase;
border-bottom: 1px solid var(--color-main);
cursor: pointer;
}
.viewTransaction:hover{
color: var(--color-maroon);
border-bottom: 1px solid var(--color-maroon);
}
.main-container{
box-shadow: 5px 5px 15px 0px var(--color-solid-gray);
/* height: 600px; */
background: var(--color-white);
width: 100%;
border-radius: 10px 10px 10px 10px;
margin-bottom: 1rem;
position: relative;
}
.sub-tab-container{
padding: 2rem;
}
.previous-transaction-header{
color: var(--color-black);

font-weight: bold;
font-size: 1rem;
text-align: center;
text-transform: uppercase;
font-family: 'COCOGOOSE', sans-serif;
letter-spacing: 1px;
width: 100%;
position: relative;
margin-bottom:1.5rem;
}
main .account-container{
max-height: 650px;
margin-top:2rem;
overflow:auto;
background-color: var(--color-white);
width: 100%;
margin-bottom: 1rem;
/* position: absolute; */
box-shadow: 5px 5px 15px 0px var(--color-solid-gray);
border-top: 2px solid var(--color-solid-gray);
border-radius: 10px 10px 10px 10px;
}
.account-container table{
    background: var(--color-white);
    font-family: 'Switzer', sans-serif;
    width: 100%;
    font-size: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;
    transition: all 700ms ease;
    /* margin-top: -1rem; */
}

.account-container table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-solid-gray);
    color: var(--color-td);
    font-size: .8rem;
}
th{
    height: 2.8rem;
    color: var(--color-black);
    margin:1rem;
    font-size: 1rem;
    letter-spacing: 0.02rem;
}
.Title-top{
display: none;
font-size: 1rem;
color: var(--color-main);
font-family: 'COCOGOOSE', sans-serif;
letter-spacing: .03rem;
}
.subTitle-top{
display: none;
font-size: .7rem;
position: relative;
margin-left: 3rem;
border-left: 1px var(--color-solid-gray) solid;
padding-left: 1rem;
padding-bottom: .2rem;
font-family: 'calibri', sans-serif;
color: var(--color-solid-gray);
font-size: 1rem;
text-transform: uppercase;

}
.select-dropdown{
display: inline-block;
margin-left: 2rem;
position: relative;
max-height: 50px;
}
.select{
background-color: var(--color-white);
color: var(--color-solid-gray);
/* align-items: center; */
border-radius: 5px;
padding: .80rem 1rem;
width: 12rem;
font-size: 14px;
cursor: pointer;
transition: 0.3s;
border: none;
}
.select:hover{
background:  var(--color-solid-gray);
color: var(--color-white);
}
.main-account{
width:100%;
position: relative;
}
.dashTitle{
margin-top: 2rem;
font-size: min(max(1.9rem, 1.1vw), 2rem);
color: var(--color-main); 
font-family: 'COCOGOOSE', sans-serif;
letter-spacing: .03rem;
border-bottom: 2px solid var(--color-main); 
width: 78%;
}

/* ----------------------------------------Sub TAB---------------------------------------- */
.user-title{
    position: relative;
    display: inline-block;
    margin-left: 3rem;
}
main  h2{
    color: var(--color-solid-gray);
    font-size: 1.3rem;
    letter-spacing: .1rem;
    font-family: 'Galhau Display', sans-serif;
}
main .sub-tab{
    margin-bottom: 2rem;
}
/* ----------------------------------------Search BAR---------------------------------------- */
.search{
    position: relative;
    display: inline-block;
    gap: 2rem;
    float: right;    
}
.search-bar{
    width: 18rem;
    background: var(--color-white);
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    height: 1.8rem;
    backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: .8rem;
    color: var(--color-black);
    margin-left: -0.95rem;
}
::placeholder{
    color: var(--color-solid-gray);

}
.search-bar button svg{
    width: 20px;
    fill: var(--color-white);
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: var(--color-main);
    margin-right: -0.55rem;
}
/* ----------------------------------------Add Button---------------------------------------- */
.totals{
    display: inline-block;
    margin-left: 1rem;
    position: relative;
}
.newUser-button1{
    position: relative;
    margin-left: 1rem;
    display: inline-block;
}
.newUser-button2{
    margin-left: 1rem;
    position: relative;
    display: inline-block;
}
.newUser-button3{
    position: relative;
    display: inline-block;
    
}
.add-account1{
    display: flex;
    border: none;
    background-color: var(--color-background); 
    align-items: center;
    color: var(--color-button); 
    fill: var(--color-button); 
    width: 12rem;
    text-align: center;
    justify-content: center;
    height: 2rem;
    border-radius: 10px;
    padding: .68rem 1rem;
    font-family: 'Outfit', sans-serif;
    transition: all 300ms ease;
    position: relative; 
    margin-top: .2rem;
    text-transform: uppercase;
    border-bottom: 4px solid #8FBC8F;
}
.add-account1 h3{
    font-size: .8rem;
    margin-right: 1.5rem;
}
.add-account2{
    display: flex;
    border: none;
    background-color: var(--color-background); 
    align-items: center;
    color: var(--color-button); 
    fill: var(--color-button); 
    width: 12rem;
    text-align: center;
    justify-content: center;
    height: 2rem;
    border-radius: 10px;
    padding: .68rem 1rem;
    font-family: 'Outfit', sans-serif;
    transition: all 300ms ease;
    position: relative; 
    margin-top: .2rem;
    text-transform: uppercase;
    border-bottom: 4px solid #008B8B;
}
.add-account2 h3{
    font-size: .8rem;
    margin-right: 1.5rem;
}
.add-account3{
    display: flex;
    border: none;
    background-color: var(--color-background); 
    align-items: center;
    color: var(--color-black); 
    fill: var(--color-button); 
    width: 18rem;
    text-align: center;
    justify-content: center;
    height: 2rem;
    border-radius: 0px 0px 5px 5px;
    padding: .68rem 1rem;
    font-family: 'Outfit', sans-serif;
    transition: all 300ms ease;
    position: relative; 
    margin-top: .2rem;
    text-transform: uppercase;
    border-bottom: 7px solid #A9A9A9;
}
.add-account3 h3{
    font-weight: 900;
    font-size: .8rem;
    margin-right: 1.5rem;
}
.total-deliveries{
    font-family: 'ARIAL', sans-serif;
    color: var(--color-main); 
    font-size: .9rem;
}
.total-transactions{
    font-family: 'ARIAL', sans-serif;
    font-weight: 900;
    color: var(--color-black); 
    font-size: 1rem;
}
  /* -----------------------------------------------Side Menu---------------------------------------- */
  .side-bar{
    background: var(--color-table-hover);
    backdrop-filter: blur(15px);
    width: 15.5rem;
    height: 100vh;
    position: fixed;
    top: 0;
    /* left: -100%; */
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
}
.side-bar .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -1.9rem;
    }
    .side-bar .titlelogo{
        display: flex;
        gap: 0.8rem;
    }
    .side-bar .titlelogo img{
        width: 5rem;
        margin-top: -1rem;
        margin-bottom: 1rem;
        margin-left: 5.5rem;
    }
    .side-bar .close{
        display: none;
        font-size: 1rem;
    }
.side-bar.active{
    left: 0;
}

.side-bar .menu{
    width: 100%;
    margin-top: 80px;
}

.side-bar .menu .item{
    position: relative;
    cursor: pointer;
}

.side-bar .menu .item a{
    color: var(--color-tertiary);
    font-size: 13px;
    text-decoration: none;
    display: flex;
    fill: var(--color-tertiary);
    margin-left: .5rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    padding: 0px 20px;
    line-height: 60px;
    height: 3.7rem;
    transition: all 300ms ease;
}
.side-bar .menu .item .sub-item{
    height: 2.9rem;

}
.side-bar .menu .item a:hover{
    background: var(--color-table-hover);
    transition: 0.6s;
    margin-left: 0rem;
    border-radius: 0 10px 10px 0 ;
    box-shadow: 2px 2px 2px rgb(224, 224, 224);
}
#monitoring{
    background: var(--color-white);
    box-shadow: 2px 2px 2px rgb(224, 224, 224);
    border-radius: 0 10px 10px 0;
}
.side-bar .menu .item a .dropdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
    background: var(--color-background);
    display: none;
    
}

.side-bar .menu .item .sub-menu a{
    padding-left: 90px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'switzer', sans-serif;
    box-shadow: 0px 1px 1px rgb(224, 224, 224);

}

.rotate{
    transform: rotate(90deg);
}

.close-btn{
    position: absolute;
    color: var(--color-tertiary);
    font-size: 14px;
    right: 0;
    margin: 25px;
    margin-top: 50px;
    display: none;
    cursor: pointer;
}

.menu-btn{
    position: absolute;
    color: var(--color-tertiary);
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
}
.menu-btn:hover{
    color: var(--color-main);
}
.menu-btn2{
    position: absolute;
    color: var(--color-tertiary);
    font-size: 20px;
    margin: 25px;
    display: none;
    left: 0;
    cursor: pointer;
}
.menu-btn2:hover{
    /* position: absolute; */
    color: var(--color-main);
    /* font-size: 25px;
    margin: 30px;
    cursor: pointer; */
}
/* ----------------------------TOP MENU---------------------------- */

/* ----------------------------------------MAIN---------------------------------------- */
.main-dashboard{
    width:100%;
}
.dashTitle{
    /* margin-top: 2rem; */
    font-size: min(max(1.9rem, 1.1vw), 2rem);
    color: var(--color-main); 
    font-family: 'COCOGOOSE', sans-serif;
    letter-spacing: .03rem;
    border-bottom: 2px solid var(--color-main); 
    width: 78%;
    margin-top: 3.2rem;
}

/* ----------------------------------------ASIDE---------------------------------------- */
.container{
    display: grid;
    width: 96%;
    /* margin: 0 auto; */
    background: var(--color-background);
    gap: 1.8rem;
    grid-template-columns: 16rem auto;
}
#menu-button{
    display: none;
}
.sub-tab2{
    display: inline-block;
    position: relative;
    margin-left: 3rem;
}
@media screen and (max-width: 1600px){
.container{
    width: 94%;
}

.top-menu{
    width: 370px;
}

}
@media screen and (max-width: 1400px){

.side-bar{
    z-index: 3;
    position: fixed;
    left: -100%;
}
.close-btn{
    display: flex;
}


.sub-tab2{
    position: absolute;
}
main .account-container{
    width: 100%;
    margin-bottom: 2rem;
}

main .sub-tab{
    margin-bottom: 3rem;
}
.tooltipText{
    display: none;
}
.search-bar{
    margin-bottom: 2rem;
    width: 13rem;
}
}
@media screen and (max-width: 1200px){


.main-account{
    position: relative;
    width: 100%;
    /* margin-left: 2rem; */
}
.tooltipText{
    display: none;
}


.search-bar{
    width: 13rem;
}
}
@media screen and (max-width: 1050px){
.container{
    grid-template-columns: 1rem auto 2rem;
}
.user-title{
    margin-left: .2rem;
}
.sub-tab2{
    position: relative;
    margin-top: 1rem;
}
.main-account{
    position: relative;
    width: 100%;
    margin-right: -2rem;
}
.search-bar{
    width: 11.5rem;
    float: right;
}
.search-bar button{
    margin-left:10rem;
    position: absolute;
}
}
@media screen and (max-width: 768px){
.container{
    margin-left: -.8rem;
    width: 100%;
}
.user-title{
display: none;
}
.menu-btn2{
    display: flex;
}
.top-menu{
    width: 100%;
    margin: 0 auto 2rem;
}
.accTitle{
    display: none;
}
.Title-top{
    display: block;
    left: 0;
    font-size: 1rem;
    margin-left: 4rem;
    position: absolute;
}
.subTitle-top{
    display: block;
    font-size: .8rem;
    left: 0;
    margin-left: 12rem;
    padding-left: .5rem;
    position: absolute;
}
.search button{
    position: absolute;
    float: right;
    right: 5%;
}
.search{
    position: relative;
    width: 100%;
    margin-top: 1rem;
}
.search-bar{
    text-align: center;
    width: 90%;
    float: left;
} 
/* ----------------------------------top-menu----------------------------- */

.top-menu .menu-bar{
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0px 1px 14px var(--color-shadow-shadow);
}
.profile{
    margin-right: 2rem;
}
.top-menu .menu-bar .user1{
    display: none;
}
.user-type4{
    margin-top: 1.9rem;
}
.drop-menu .ul .user-type3{
    display: flex;
    padding-bottom: 2.9rem;
    left:20.5%; 
    position: absolute;
}
.addnew-title{
    text-align: center;
    font-size: 1.5rem;
}
.dashTitle{
    display:none;
}

.user2 .drop-menu{
    right: 40px;
    height: 7.3rem;
    margin-top: 2px;
}
.user2 .drop-menu::before{
    right: 30px;
}
.drop-menu .ul{
    width: 8.5rem;
    height: 5rem;
}

.drop-menu .ul a{
    width: 8.5rem;
}
/* ------------------------------------------------------------------------------ */
.main-dashboard{
    position: relative;
    text-align: center;
    align-items: center;
}


.sub-tab-container{
    width: 100%;
    text-align: left;
    align-items: center;
}
.select-dropdown{
    position: relative;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 1rem;

}
.select{
    width: 100%;
    
}

.account-container{
    position: relative;
    margin-top:5rem;
    overflow: auto;
    width: 100%;
    max-height: 700px;
    border-top: 5px solid var(--color-solid-gray);
    font-size: 15px;
}
.account-container tbody tr td{
    font-size: 10px;
    
}
table {
    border: 0;
}

table caption {
    font-size: 1.3em;
}

table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
}

table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
}

table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}

table td:last-child {
    border-bottom: 0;
}

.sub-tab{
    margin-top: 5rem;
    width: 100%;
    align-items: center;
    text-align: center;
}
.newUser-button{
    /* display: flex; */
    width: 100%;  
    left: 0;
}
.main-container{
    margin-top: 5rem;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.sub-tab-container{
    justify-content: center;
    padding:1rem;
    align-items: center;
}
.newUser-button1{
    /* display: flex; */
    justify-content: center;
    position: relative;
    width: 100%;  
    margin-top: .5rem;
    text-align: center;
}
.newUser-button2{
    /* display: flex; */
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;  
    margin-top: .5rem;
}
.newUser-button3{
    /* display: flex; */
    width: 100%;  
    justify-content: center;
    position: relative;
    text-align: center;
}
.sub-tab2{
    width: 100%;  
    margin-left: 0rem;

}
.add-account{
    margin-top: 1rem;
  
    width: 100%;
    justify-content: center;
}

h3{
    display: block;
}

.user-input-box{
    margin-bottom: 12px;
    width: 100%;
    overflow: auto;
}

.user-input-box:nth-child(2n){
    justify-content: space-between;
}
.usertype-dropdown{
    width: 100%;
    margin-bottom: 1rem;
    margin-top: -.3rem;
}
.gender-category{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
}

.main-user-info{
    max-height: 380px;
    overflow: auto;
}

.main-user-info::-webkit-scrollbar{
    width: 0;
}
.bot-buttons{
    width: 100%;
    margin-left: -1rem;
    align-items: center;
    text-align: center;
}
.AddButton button{
    margin-top: -4.5rem;
    width: 100%;
    text-align: center;
}
.AddButton button:hover{
    background: var(--color-button-hover);
}
.CancelButton{
    position: relative;
    margin-top: 3rem;
    width: 100%;
    /* padding-right: 2rem; */
}
.AddButton{
    position: relative;
    width: 100%;
}

#cancel{
    margin-left: 2.1rem;
    padding-left: 7.3vw;
    text-align: center;
    padding-right: 7.3vw;
}
.error-error{
    background-color: hsl(0, 100%, 77%);
    color: #ffffff;
    position: fixed;
    padding: 11px;
    z-index: 100;
    width: 80%;
    height: 2%;
    border-radius: 6px;
    align-items: center;
    text-align: center;
    margin-left: -.1rem;
    margin-bottom: -2rem;
    font-size: min(max(9px, 1.2vw), 11px);
    letter-spacing: 0.5px;
    font-family: Helvetica, sans-serif;
}
}

.menu-tab p{
    font-size: 20px;
    font-weight: lighter;
    margin-left: 10px;
}

.menu-tab img{
    width: 15px;
    margin-right: 10px;
    margin-left: 20px;
}
.menu-tab a:hover{
    background:  rgb(250, 255, 251);
    transition: 0.6s;
    margin-left: 0rem;
    color: rgb(187, 187, 187);
    fill: rgb(187, 187, 187);
    font-weight: bold;
    padding-left: 1rem;
    content: "";
    margin-bottom: 6px;
    font-size: 9px;
    border-radius: 0 10px 10px 0 ;
    box-shadow: 1px 1px 1px rgb(224, 224, 224);
}
.outofstock{
    border-radius: 20px;
    background-color: #B22222;
    color: #ffffff;
    font-size: 10px;
    padding: 7px;
    font-weight: 700;
    padding-right: 9px;
    padding-left: 9px;
}
.instock{
    border-radius: 20px;
    background-color: #228B22;
    font-size: 10px;
    padding: 7px;
    font-weight: 700;
    padding-right: 9px;
    padding-left: 9px;
    color: #ffffff;
}
/* ----------------------------TOP MENU---------------------------- */

.top-menu a{
text-decoration: none;
}
.top-menu{
margin-top: 1rem;
position: absolute;
right: 4%;
}
.top-menu .menu-bar{
display: flex;
justify-content: end;
gap: 2rem;
}
.top-menu .menu-bar button{
display: none;
}
.top-menu .menu-bar .user1{
gap: 2rem;
align-items: right;
text-align: right;
}
.top-menu .menu-bar .user2{
display: flex;
gap: 2rem;
align-items: right;
text-align: right;
}
.top-menu .menu-bar .accTitle-top{
font-size: min(max(1.2rem, 0.4vw), 1.3rem);
color: var(--color-main); 
font-family: 'COCOGOOSE', sans-serif;
letter-spacing: .03rem;
display: none;
text-align: center;
align-items: center;
}
.user-type{
font-family: 'switzer', sans-serif;
font-size: 7.5px;
color: var(--color-black); 
letter-spacing: 1px;
border-top: 2px solid var(--color-main); 
margin-top: -0.97rem;
text-transform: uppercase;
}
h1{
margin-top: 6px;     
}
.welcome{
font-family: 'Calibri', sans-serif;
font-size: 11px;
/* margin-right: -7.3rem;*/
margin-top: -0.6rem; 
letter-spacing: 1px;
color: var(--color-main); 
}
.user-name{
font-family: 'Switzer', sans-serif;
font-size: 12px;
margin-top: -1rem; 
text-transform: uppercase;
margin-bottom: 0;
color: var(--color-maroon);
}
.profile img{
background: var(--color-white); 
border-radius: 30%;
width: 50px;
padding: 4px;
margin-top: .3rem;
}

.user2 .profile{
position: relative;
cursor: pointer;
}
.user2 .drop-menu{
position: absolute;
top: 120px;
right: 0;
padding: 10px 20px;
background: var(--color-white);
box-shadow: 3px 2px 10px 1px var(--color-solid-gray);
width: 110px;
box-sizing: 0 5px 25px rgba(0,0,0,0.1);
border-radius: 7px;
transition: 0.5s;
visibility: hidden;
opacity: 0;
}
.user2 .drop-menu.user2{
top: 85px;
visibility: visible;
opacity: 1;
}
.user2 .drop-menu::before{
content:'';
position: absolute;
top: -5px;
right: 25px;
width: 15px;
height: 20px;
background: var(--color-white);
transform: rotate(45deg);
transition: 0.5s;
}
.drop-menu .ul .user-type3{
font-family: 'Calibri', sans-serif;
font-size: 7.5px;
color: var(--color-main);
letter-spacing: .2rem;
display: none;
text-transform: uppercase;
}

.drop-menu .ul{
display: flex;
flex-direction: column;
height: 5rem;
position: relative;
margin-bottom: 0.5rem;
}
.drop-menu h4{
font-weight: 400;
font-size: 12px;
}
.drop-menu .ul a{
display: flex;
color: hsl(0, 0%, 69%);
fill: hsl(0, 0%, 69%);
margin-left: -1.26rem;
padding-left: 1rem;
gap: 1rem;
height: 1rem;
width: 8.5rem;
align-items: center;
position: relative;
height: 1.7rem;
transition: all 300ms ease;
}
.drop-menu .ul a:hover {
background:  rgb(190, 190, 190);
transition: 0.6s;
color: var(--color-white);
fill: var(--color-white);
padding-left: .9rem;
content: "";
margin-bottom: 6px;
font-size: 15px;
border-radius: 0px 0px 10px 10px;
cursor: pointer;
}
.checkbox{
opacity: 0;
position: absolute;
}
.checkbox:checked + .theme-dark .ball{
transform: translateX(28px);
}
.drop-menu .theme-dark{
background: hsl(0, 0%, 69%);
display: flex;
justify-content: space-between;
align-items: center;
height: 14.5px;
width: 42.5px;
cursor: pointer;
border-radius: 50px;
position: relative;
padding: 5px;
margin-top: -30px;
margin-bottom: 8px;
margin-left: 2rem;
}
.sun{
fill: yellow;
}
.moon{
fill: white;
}
.ball{
background: white;
position: absolute;
border-radius: 50%;
top: 2px;
left: 2px;
height: 21px;
width: 21px;
transition: transform 0.2s linear;
}
